
html, body {
  width: 100vw;
  min-height: 100vh;
  line-height: 1.2em;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: black;
  overflow-x: hidden;
}

a {
  color: #555;
  font-size: 1.5vh;
  text-decoration: none;
  transition: color 0.15s;
}

  a:hover {
    color: #fff;
  }

h1 {
  font-size: 6vh;
  font-weight: normal;
}

h2 {
  font-size: 2.25vh;
  width: 18vw;
  min-width: 600px;
  line-height: 1.5em;
  color: #ccc;
  font-weight: normal;
}

h3 {
  margin-top: 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #555;
  font-size: 1.5vh;
}

#app {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 5vw;
  margin: 0;
  box-sizing: border-box;
}

  #app #viz {
    
    width: 100%;
    height: 75vh;
    margin: 0;
  }

    #app #viz .node  {
      box-sizing: border-box;
      padding: 0.1px;
    }

      #app #viz .node div {
        box-sizing: border-box;
        border-radius: 4px;
      }

  #app #controls ul {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
  }

    #app #controls ul li div:hover {
      transition: background-color 0.15s;
    }

    #app #controls ul li div:hover {
      background-color: white !important;
    }

  #app #controls #highlights {
    font-size: 1.5vh;
    color: #ccc;
    margin-top: 30px;
  }
    
  #app #explainer {
    margin-top: 70px;
  }

    #app #explainer p {
      font-size: 2.25vh;
      width: 18vw;
      min-width: 600px;
      line-height: 1.5em;
      color: #ccc;
    }